# 서울 열린데이터 광장 OPEN API 서비스 종료에 따라 실습코드를 변경합니다

* 대상 API: 서울시 주민등록인구(구별) 통계, 서울시 사업체현황 (산업대분류별/동별) 통계
* 실습파일(변경전) : 6_1_2_OpenData_API.ipynb
* 실습파일(변경후) : 6_12editOpenDataDownload.ipynb
* 변경내용: API 사용하기 → 데이터 다운 받기(txt)
* updated 2021.01.07

# 자료 다운 상세설명 보기 : http://bit.ly/pwd_seouldata_guide

## ① '서울시 주민등록인구 (구별) 통계' 데이터 직접 다운로드 받기
* https://data.seoul.go.kr/dataList/104/S/2/datasetView.do
* 파일 저장위치 및 파일명 : ./files/report.txt

## ② '서울시 사업체현황 (산업대분류별/동별) 통계' 데이터 직접 다운로드 받기
* https://data.seoul.go.kr/dataList/419/S/2/datasetView.do
* 파일 저장위치 및 파일명 : ./files/report2.txt

---

# 6.1.2 서울열린데이터광장 공공데이터 수집 및 정리

In [62]:
# 예제 6-13  라이브러리 임포트

import requests
import pandas as pd

In [63]:
# 예제 6-25 서울시 구별 주민등록인구통계 데이터 가져오기  * txt파일 열기로 코드 변경(updated 2021.01.07)

# sep='\t' -> 파일의 구분자는 탭이기 때문 , header=2 -> 칼럼명이 있는 세 번째 헤더부터 사용하기 위함
sgg_pop_df = pd.read_csv('./files/report.txt', sep='\t', header=2)
columns = {
    '기간': 'GIGAN',
    '자치구': 'JACHIGU',
    '계': 'GYE_1',
    '계.1': 'GYE_2',
    '계.2': 'GYE_3',
    '남자': 'NAMJA_1',
    '남자.1': 'NAMJA_2',
    '남자.2': 'NAMJA_3',
    '여자': 'YEOJA_1',
    '여자.1': 'YEOJA_2',
    '여자.2': 'YEOJA_3',
    '세대': 'SEDAE',
    '세대당인구': 'SEDAEDANGINGU',
    '65세이상고령자': 'N_65SEISANGGORYEONGJA'
}
sgg_pop_df.rename(columns = columns, inplace = True)

In [64]:
# 예제 6-26 서울시 시군구 인구 데이터 살펴보기

sgg_pop_df.head()

,GIGAN,JACHIGU,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
0,2021.1/4,합계,"4,400,403","9,828,094","4,774,856","5,053,238","9,598,484","4,667,524","4,930,960","229,610","107,332","122,278",2.18,"1,567,819"
1,2021.1/4,종로구,"74,113","156,567","75,772","80,795","147,296","71,644","75,652","9,271","4,128","5,143",1.99,"27,781"
2,2021.1/4,중구,"63,746","133,708","65,312","68,396","124,552","60,851","63,701","9,156","4,461","4,695",1.95,"24,767"
3,2021.1/4,용산구,"112,881","243,336","118,120","125,216","229,013","110,181","118,832","14,323","7,939","6,384",2.03,"39,575"
4,2021.1/4,성동구,"135,883","298,421","145,358","153,063","291,906","142,506","149,400","6,515","2,852","3,663",2.15,"45,968"

In [65]:
# 예제 6-27  서울시 구별 주민등록인구 데이터프레임의 요약 정보 확인

sgg_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GIGAN                  26 non-null     object
 1   JACHIGU                26 non-null     object
 2   SEDAE                  26 non-null     object
 3   GYE_1                  26 non-null     object
 4   NAMJA_1                26 non-null     object
 5   YEOJA_1                26 non-null     object
 6   GYE_2                  26 non-null     object
 7   NAMJA_2                26 non-null     object
 8   YEOJA_2                26 non-null     object
 9   GYE_3                  26 non-null     object
 10  NAMJA_3                26 non-null     object
 11  YEOJA_3                26 non-null     object
 12  SEDAEDANGINGU          26 non-null     float64
 13  N_65SEISANGGORYEONGJA  26 non-null     object
dtypes: float64(1), object(13)
memory usage: 3.0+ KB

In [66]:
# 예제 6-28 필요없는 데이터 제거

condition = sgg_pop_df['JACHIGU'] != '합계'
sgg_pop_df_selected = sgg_pop_df[condition]
sgg_pop_df_selected.head()

,GIGAN,JACHIGU,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
1,2021.1/4,종로구,"74,113","156,567","75,772","80,795","147,296","71,644","75,652","9,271","4,128","5,143",1.99,"27,781"
2,2021.1/4,중구,"63,746","133,708","65,312","68,396","124,552","60,851","63,701","9,156","4,461","4,695",1.95,"24,767"
3,2021.1/4,용산구,"112,881","243,336","118,120","125,216","229,013","110,181","118,832","14,323","7,939","6,384",2.03,"39,575"
4,2021.1/4,성동구,"135,883","298,421","145,358","153,063","291,906","142,506","149,400","6,515","2,852","3,663",2.15,"45,968"
5,2021.1/4,광진구,"166,638","356,191","171,131","185,060","343,392","165,747","177,645","12,799","5,384","7,415",2.06,"50,370"

In [67]:
# 예제 6-29 서울시 구별 주민등록인구 데이터프레임의 요약 정보 확인

sgg_pop_df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GIGAN                  25 non-null     object
 1   JACHIGU                25 non-null     object
 2   SEDAE                  25 non-null     object
 3   GYE_1                  25 non-null     object
 4   NAMJA_1                25 non-null     object
 5   YEOJA_1                25 non-null     object
 6   GYE_2                  25 non-null     object
 7   NAMJA_2                25 non-null     object
 8   YEOJA_2                25 non-null     object
 9   GYE_3                  25 non-null     object
 10  NAMJA_3                25 non-null     object
 11  YEOJA_3                25 non-null     object
 12  SEDAEDANGINGU          25 non-null     float64
 13  N_65SEISANGGORYEONGJA  25 non-null     object
dtypes: float64(1), object(13)
memory usage: 2.9+ KB

In [68]:
# 예제 6-30  분석에 필요한 칼럼 선택

columns = ['JACHIGU', 'GYE_1']
sgg_pop_df_final = sgg_pop_df_selected[columns]

In [69]:
# 예제 6-31 선택된 칼럼 확인

sgg_pop_df_final.head()

  JACHIGU    GYE_1
1     종로구  156,567
2      중구  133,708
3     용산구  243,336
4     성동구  298,421
5     광진구  356,191

In [70]:
# 예제 6-32 데이터프레임의 칼럼명 변경

sgg_pop_df_final.columns = ['시군구명', '주민등록인구']
sgg_pop_df_final.info()
sgg_pop_df_final.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구명    25 non-null     object
 1   주민등록인구  25 non-null     object
dtypes: object(2)
memory usage: 600.0+ bytes

  시군구명   주민등록인구
1  종로구  156,567
2   중구  133,708
3  용산구  243,336
4  성동구  298,421
5  광진구  356,191

In [71]:
# 예제 6-33 엑셀로 저장

sgg_pop_df_final.to_excel('./files/sgg_pop.xlsx', index=False)

In [72]:
# 예제 6-34 서울시 동별 사업체현황 통계 데이터 가져오기  * txt파일 열기로 코드 변경(updated 2021.01.07)

sgg_biz_df = pd.read_csv('./files/report2.txt', sep='\t', header=2)
columns = {
    '기간': 'GIGAN',
    '자치구': 'JACHIGU',
    '동': 'DONG',
    '사업체수': 'SAEOPCHESU_1',
    '여성대표자': 'YEOSEONGDAEPYOJA',
    '계': 'GYE',
    '남': 'NAM',
    '여': 'YEO'
}
sgg_biz_df.rename(columns = columns, inplace = True)
sgg_biz_df.head(10)

,GIGAN,JACHIGU,DONG,SAEOPCHESU_1,YEOSEONGDAEPYOJA,GYE,NAM,YEO,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
0,2019,합계,합계,"823,624","281,318","5,226,997","2,885,614","2,341,383",24,426,...,"1,296","141,582","35,761","351,320","29,168","400,143","23,527","92,752","69,345","189,557"
1,2019,종로구,소계,"39,679","13,356","260,446","146,392","114,054",3,18,...,94,"15,109",829,"13,474",750,"17,366",899,"6,034","2,439","7,649"
2,2019,종로구,사직동,"3,574","1,203","47,522","25,154","22,368",1,12,...,23,"6,088",83,786,106,"1,096",91,"1,653",253,906
3,2019,종로구,삼청동,732,327,"4,601","2,271","2,330",-,-,...,4,"1,291",17,297,7,30,19,185,25,194
4,2019,종로구,부암동,599,255,"3,454","1,764","1,690",-,-,...,3,60,38,"1,190",19,183,18,49,82,325
5,2019,종로구,평창동,761,328,"3,447","1,518","1,929",-,-,...,3,90,48,425,38,480,33,185,112,266
6,2019,종로구,무악동,647,102,"1,644",872,772,-,-,...,1,12,28,177,10,486,5,11,47,90
7,2019,종로구,교남동,413,178,"4,581","1,481","3,100",-,-,...,2,37,19,176,25,"3,139",11,44,56,170
8,2019,종로구,가회동,765,351,"12,817","9,546","3,271",-,-,...,3,495,35,691,15,93,40,190,57,223
9,2019,종로구,종로1.2.3.4가동,"15,472","4,920","108,747","65,713","43,034",-,-,...,24,"4,944",302,"3,225",203,"1,645",246,"1,329",920,"2,835"

In [76]:
# 예제 6-35  시군구별 사업체 현황 데이터 추출

condition = sgg_biz_df['DONG'] == '소계'
sgg_biz_df_selected = sgg_biz_df[condition]
sgg_biz_df_selected.head(10)

,GIGAN,JACHIGU,DONG,SAEOPCHESU_1,YEOSEONGDAEPYOJA,GYE,NAM,YEO,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
1,2019,종로구,소계,"39,679","13,356","260,446","146,392","114,054",3,18,...,94,"15,109",829,"13,474",750,"17,366",899,"6,034","2,439","7,649"
19,2019,중구,소계,"60,127","22,451","392,568","213,484","179,084",-,-,...,65,"20,287",502,"8,598",760,"10,342",558,"3,637","2,112","8,090"
35,2019,용산구,소계,"20,254","7,074","135,240","74,570","60,670",-,-,...,47,"3,101",537,"6,973",562,"7,147",401,"2,623","1,591","5,494"
52,2019,성동구,소계,"28,343","8,563","178,243","102,769","75,474",2,5,...,45,"4,127",995,"11,678",754,"9,255",592,"2,113","2,079","7,787"
70,2019,광진구,소계,"24,445","8,921","126,305","67,899","58,406",-,-,...,36,"2,678","1,209","14,184",916,"11,551","1,052","4,209","2,552","5,828"
86,2019,동대문구,소계,"31,324","10,456","138,400","73,067","65,333",-,-,...,50,"3,430","1,027","16,657","1,051","15,154",762,"2,344","2,532","5,285"
101,2019,중랑구,소계,"28,228","9,519","103,345","53,185","50,160",-,-,...,47,"3,533",915,"7,925","1,031","13,013",968,"2,543","2,753","5,018"
118,2019,성북구,소계,"23,617","8,922","111,005","54,975","56,030",-,-,...,51,"3,308","1,368","21,947","1,045","13,249",745,"2,323","2,625","5,567"
139,2019,강북구,소계,"19,014","7,153","73,904","34,134","39,770",-,-,...,44,"3,108",683,"5,911",816,"10,099",751,"2,125","2,275","4,454"
153,2019,도봉구,소계,"18,628","6,269","72,939","37,598","35,341",1,1,...,38,"3,892",926,"7,318",824,"11,538",618,"1,778","2,068","4,467"

In [77]:
# 예제 6-36 필요없는 칼럼 제거

columns = ['JACHIGU', 'GYE', 'SAEOPCHESU_1']
sgg_biz_df_final = sgg_biz_df_selected [columns]
sgg_biz_df_final.columns = ['시군구명', '종사자수','사업체수']
sgg_biz_df_final.head()

   시군구명     종사자수    사업체수
1   종로구  260,446  39,679
19   중구  392,568  60,127
35  용산구  135,240  20,254
52  성동구  178,243  28,343
70  광진구  126,305  24,445

In [78]:
# 예제 6-37  데이터프레임의 인덱스 초기화

sgg_biz_df_final = sgg_biz_df_final.reset_index(drop=True)
sgg_biz_df_final.head()

  시군구명     종사자수    사업체수
0  종로구  260,446  39,679
1   중구  392,568  60,127
2  용산구  135,240  20,254
3  성동구  178,243  28,343
4  광진구  126,305  24,445

In [79]:
# 예제 6-38  엑셀로 저장

sgg_biz_df_final.to_excel('./files/sgg_biz.xlsx', index=False)