In [2]:
# pandas 연습문제 1
import pandas as pd

no = ['1번','2번','3번']
name = ['홍길동','전우치','강감찬']
birth = ['1975','','1982']

member6 = pd.DataFrame()
member6['번호'] = no
member6['이름'] = name
member6['생일'] = birth

member6

   번호   이름    생일
0  1번  홍길동  1975
1  2번  전우치
2  3번  강감찬  1982

In [3]:
# pandas 연습문제 2
import openpyxl
wb = openpyxl.load_workbook("c:\\temp\\부품구입대장.xlsx")
sheet = wb["Sheet1"]

날짜2 = []
품목2 = []
수량2 = []
금액2 = []

for i in range(5, sheet.max_row + 1) :
    날짜 = sheet.cell(row=i,column=1).value
    날짜2.append(날짜)
    
    품목 = sheet.cell(row=i,column=3).value
    품목2.append(품목)
    
    수량 = sheet.cell(row=i,column=4).value
    수량2.append(수량)
    
    금액 = sheet.cell(row=i,column=6).value
    금액2.append(금액)
    
part = pd.DataFrame()
part['날짜'] = 날짜2
part['품목'] = 품목2
part['수량'] = 수량2
part['금액'] = 금액2

part

           날짜          품목  수량        금액
0  2019-08-23       ANGLE  21    672000
1  2019-09-09          백관  44   2464000
2  2019-06-18         절연판  40   1800000
3  2019-03-13  P/Z O-RING  11    418000
4  2019-05-11         알코올  38    304000
5  2019-06-28         실리콘  30   4500000
6  2019-02-16         소모품   4      8800
7  2019-10-22       MOTOR  14    420000
8  2019-03-18  PAPER BRSH  13    520000
9  2019-07-17        불화카리  23   1909000
10 2019-07-23         마크펜  33     99000
11 2019-03-20         NUT  20    300000
12 2019-01-27         윤활유  30  60000000
13 2019-07-11         소모품  50    110000
14 2019-05-16        BITE  14   1204000

In [4]:
# pandas 연습문제 3
part2 = part.loc[ (part['금액'] > 1000000)]

part2.sort_values(["금액"], ascending=[False])

           날짜    품목  수량        금액
12 2019-01-27   윤활유  30  60000000
5  2019-06-28   실리콘  30   4500000
1  2019-09-09    백관  44   2464000
9  2019-07-17  불화카리  23   1909000
2  2019-06-18   절연판  40   1800000
14 2019-05-16  BITE  14   1204000

In [5]:
# pandas 연습문제 4
part2 = part.loc[ (part['금액'] > 1000000,['품목','금액'])]

part2.sort_values(["금액"], ascending=[False])

      품목        금액
12   윤활유  60000000
5    실리콘   4500000
1     백관   2464000
9   불화카리   1909000
2    절연판   1800000
14  BITE   1204000

In [6]:
# pandas 연습문제 5
# 부품구입대장에서 품명이 '백관' 일 경우 코드 컬럼에 'A1' , 
# '절연판' 일경우 'B1' , 실리콘일 경우 'C1' 값을 입력하도록
# 코드를 작성하세요

import pandas as pd
import openpyxl
wb = openpyxl.load_workbook("c:\\temp\\부품구입대장.xlsx")
sheet = wb["Sheet1"]

날짜2 = []
품목2 = []
수량2 = []
금액2 = []
코드2 = []

for i in range(5, sheet.max_row + 1) :
    날짜 = sheet.cell(row=i,column=1).value
    날짜2.append(날짜)
    
    품목 = sheet.cell(row=i,column=3).value
    품목2.append(품목)
    if 품목=='백관' :
        코드2.append('A1')
    elif 품목=='절연판' :
        코드2.append('B1')
    elif 품목=='실리콘' :
        코드2.append('C1')
    else :
        코드2.append('')
    
    수량 = sheet.cell(row=i,column=4).value
    수량2.append(수량)
    
    금액 = sheet.cell(row=i,column=6).value
    금액2.append(금액)
    
part = pd.DataFrame()
part['날짜'] = 날짜2
part['품목'] = 품목2
part['수량'] = 수량2
part['금액'] = 금액2
part['코드'] = 코드2

part

           날짜          품목  수량        금액  코드
0  2019-08-23       ANGLE  21    672000
1  2019-09-09          백관  44   2464000  A1
2  2019-06-18         절연판  40   1800000  B1
3  2019-03-13  P/Z O-RING  11    418000
4  2019-05-11         알코올  38    304000
5  2019-06-28         실리콘  30   4500000  C1
6  2019-02-16         소모품   4      8800
7  2019-10-22       MOTOR  14    420000
8  2019-03-18  PAPER BRSH  13    520000
9  2019-07-17        불화카리  23   1909000
10 2019-07-23         마크펜  33     99000
11 2019-03-20         NUT  20    300000
12 2019-01-27         윤활유  30  60000000
13 2019-07-11         소모품  50    110000
14 2019-05-16        BITE  14   1204000

In [1]:
#pandas  연습문제 6
import pandas as pd

data1 = pd.read_excel("c:\\temp\\학생_만족도_조사_실습.xlsx")
data1

,연번,학년,소속,분반,1. 튜터링 활동을 위한 자료준비 및 선행학습은 적절하였다.,2. 튜티의 학습 수준 및 특성을 파악하였다.,3. 활동 중 튜티와의 상호작용을 유도하였다.,4. 튜티의 학습 수준 및 특성을 고려하여 활동하였다.,5. 튜터링 활동 시간은 적절하였다.,6. 튜터링 활동 장소는 적절하였다.,...,11. 책임감이 증진되었다.,12. 협동심이 증진되었다.,13. 의사소통능력이 증진되었다.,14. 티칭스킬이 증진되었다.,15. 학교생활 적응능력이 증진되었다.,16. 효원튜터링 프로그램에 대해 만족한다.,팀활동좋았던점,팀활동 개선점,운영상 좋았던점,운영상 개선점
0,1.0,4.0,7,NaN,5,5,5,5,5,5.0,...,5.000000,5.000000,5.000000,5.0,5.0,만족,"의사소통 능력, 리더쉽 능력이 승진되었다.",NaN,보고서를 통해 피드백을 받을 수 있어 좋았다,NaN
1,2.0,4.0,4,NaN,3,4,4,4,4,4.0,...,4.000000,4.000000,4.000000,4.0,4.0,만족,다른과에서 복수전공을 하고오신 튜티를 만나 좋았다,더 열심히 임했으면 더 좋은 결과를 얻을 수 있었을 것 같다,주간 보고서를 제풀해야해서 주당 1회 활동이 의무적으로 이루어 진 것 같다,보고서 피드백에 대한 튜티의 보고서 제풀이 필요한 것 같다
2,3.0,4.0,5,NaN,3,4,4,5,4,4.0,...,4.000000,3.000000,4.000000,5.0,4.0,만족,무난하게 잘 완료,좀 더 다양한 학습활동을 했었으면,전공 과목을 대상으로 한다는 점에서 도움됨,오티때 추천할만한 학습법을 알려주면 좋을 것 같다
3,4.0,3.0,1,NaN,5,5,5,5,5,5.0,...,5.000000,5.000000,5.000000,5.0,5.0,만족,질의응답이 활발,시간배분을 잘해야 했다,설명을 잘해주셔서 좋았다,NaN
4,5.0,3.0,12,NaN,4,4,5,4,3,4.0,...,4.000000,3.000000,4.000000,5.0,5.0,만족,NaN,지루함을 개선 할 신선한 티칭방식이 필요,자율적인 튜터링 활동이어서 좋았다,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,NaN,NaN,11,NaN,0,0,3,21,34,NaN,...,0.051724,0.362069,0.586207,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,12,NaN,0,0,9,24,25,NaN,...,0.155172,0.413793,0.431034,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,13,NaN,0,0,3,21,34,NaN,...,0.051724,0.362069,0.586207,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,14,NaN,0,0,3,25,30,NaN,...,0.051724,0.431034,0.517241,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,15,NaN,0,3,7,24,24,NaN,...,0.120690,0.413793,0.413793,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# pandas 연습문제 7
data2 = data1[ ['팀활동좋았던점','운영상 좋았던점']]
data2.head(10)

                       팀활동좋았던점                                   운영상 좋았던점
0      의사소통 능력, 리더쉽 능력이 승진되었다.                   보고서를 통해 피드백을 받을 수 있어 좋았다
1  다른과에서 복수전공을 하고오신 튜티를 만나 좋았다  주간 보고서를 제풀해야해서 주당 1회 활동이 의무적으로 이루어 진 것 같다
2                    무난하게 잘 완료                    전공 과목을 대상으로 한다는 점에서 도움됨
3                     질의응답이 활발                              설명을 잘해주셔서 좋았다
4                          NaN                         자율적인 튜터링 활동이어서 좋았다
5      동기와 협동심이 증진되었으며 책임감이 향상                      바로바로 피드백이 가능하여 효율적이였다
6             서로에게 도움이 되었던것 같다              프로그램이 있었기 때문에 꾸준히 할 수 있었던것 같다
7                          NaN                                    꾸준한 피드백
8                   피드백 적극적 반영                                     보고서피드백
9                          NaN                                        NaN